@model IEnumerable<CommentViewModel>

<h4 class="text-center">Комментарии (@Model.Count())</h4>
<div class="comments-section ml-auto mr-auto mt-2">
    @foreach (var comment in Model)
    {
        <div class="comment">
            <div class="comment-header">@comment.Sender</div>
            <div class="comment-date blurred">@comment.CreationDate.ToString("dd MMMM yyyy hh:ss")</div>
            <div class="comment-body">@comment.Body</div>
        </div>
    }
    <div class="comments-enter @(Model.Count() > 0 ? "mt-3" : "")" id="results">
        @*@using (Html.BeginForm(
                "", "",
                method: FormMethod.Post,
                routeValues: new { },
                htmlAttributes: new { @class = "form-group mt-1" }
            ))*@
        @using (Ajax.BeginForm(
            "GetComments", "Comments",
            routeValues: new { articleId = 1 },
            ajaxOptions: new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "results",
                InsertionMode = InsertionMode.Replace
            }
        ))
        {
            <label for="nick">Имя:</label>
            <input class="form-control" id="nick" />
            <label for="comment">Сообщение:</label>
            <textarea class="form-control" id="comment"></textarea>
            <div class="text-right mt-2">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        }
    </div>
</div>
