@model BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Linerath-Blog</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="~/Content/Pics/favicon.png" />
</head>
<body>
    <div class="wrapper">
        @{
            Html.RenderAction(
                "Navbar", "Navigation",
                new
                {
                    category = Model != null ? Model.Category : null,
                    searchText = Model != null ? Model.SearchText : null,
                }
            );
        }
        <content class="container-fluid">
            @*<div class="notification sticky">Внимание! Блог находится в активной (почти) разработке. Возможны всевозможные баги и ошибки. Пожалуйста, сообщайте о них связавшись со мной либо, если обладаете соответствующими навыками, на <a href="https://github.com/Linerath/Linerath-Blog/issues">GitHub.</a></div>*@
            <div class="row main-row">
                @{
                    bool returnUriExists = Model != null && !String.IsNullOrEmpty(Model.ReturnUri);
                }
                @if (returnUriExists)
                {
                    <div class="d-none d-md-table col-return text-center">
                        <a class="w-100 h-100 d-table-cell align-middle" href="@Model.ReturnUri">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>
                }
                <div class="col-md-8 ml-auto mr-auto p-0 @(!returnUriExists ? "" : "")">
                    <div class="main-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </content>
    </div>
    <footer>
        <div>Linerath, @DateTime.Now.Year</div>
        <div class="footer-links mt-1">
            <a class="fa fa-github" target="_blank" href="https://github.com/Linerath"></a>
            <a class="fa fa-vk ml-2" target="_blank" href="https://vk.com/Linerath"></a>
        </div>
    </footer>

    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
