<div class="note">
    @Html.ActionLink("Welcome", "", new { }, new { @class = "note-header" })
    <div class="note-header-date">@DateTime.Now.ToShortDateString()</div>
    <p>
        To my in-development blog. I'm so excited about that idea.
        <br />
        Linerath. @DateTime.Now.Year
        <br />
        sample text 0
        <br />
        sample text 1
    </p>
</div>

@*<div class="note">
    @Html.ActionLink("Topic 0", "", new { }, new { @class = "note-header" })
    <div class="note-header-date">@DateTime.Now.ToShortDateString()</div>
    <p>
        sample text 0
        <br />
        sample text 1
    </p>
</div>
<div class="note">

    @Html.ActionLink("Topic 1", "", new { }, new { @class = "note-header" })
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis. Adipiscing diam donec adipiscing tristique risus. Sed enim ut sem viverra aliquet. Id aliquet lectus proin nibh nisl. Non quam lacus suspendisse faucibus. Feugiat nisl pretium fusce id velit. Mauris ultrices eros in cursus turpis. Enim ut tellus elementum sagittis vitae et leo duis ut. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Pretium quam vulputate dignissim suspendisse in est ante in nibh. Pharetra sit amet aliquam id diam maecenas ultricies. Consectetur a erat nam at lectus. Quam lacus suspendisse faucibus interdum posuere lorem ipsum. Habitant morbi tristique senectus et netus. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Risus nullam eget felis eget nunc lobortis mattis aliquam. Enim facilisis gravida neque convallis a.
        <br />
        Massa id neque aliquam vestibulum. Sed risus ultricies tristique nulla aliquet enim tortor. Id venenatis a condimentum vitae sapien pellentesque habitant. In vitae turpis massa sed elementum tempus egestas. Maecenas volutpat blandit aliquam etiam. Dui faucibus in ornare quam viverra orci sagittis eu. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Ante in nibh mauris cursus. Augue lacus viverra vitae congue eu consequat. Feugiat vivamus at augue eget arcu dictum varius duis. Velit sed ullamcorper morbi tincidunt ornare massa. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Semper viverra nam libero justo laoreet sit amet. Augue mauris augue neque gravida in fermentum et.
    </p>
</div>*@