@model ArticleDetailsViewModel

@{
    ViewBag.Title = Model.Article.Title;
}

<div class="container article">
    <div class="article-header">
        <a class="fa fa-angle-left pull-left mt-2" href="@Model.ReturnUri"></a>
        <div class="article-title">@Model.Article.Title</div>
    </div>
    <div class="article-date">@Model.Article.CreationDate.ToLongDateString()</div>
    <div class="article-subjects">Категории: @String.Join(", ", Model.Article.Subjects.Select(x => x.Name))</div>
    <p class="article-body">@Model.Article.Body</p>
</div>
