@model (Article, BaseViewModel)

@{
    Article article = Model.Item1;
}

<div class="article-summ">
    @Html.ActionLink(
        article.Title, "Article", "Articles",
        new
        {
            id = article.Id,
            returnUri = Request.Url.PathAndQuery,
            Model.Item2.Category,
            Model.Item2.SearchText,
        },
        new { @class = "title prm-clr article-summ-title" }
    )
    <div class="article-summ-header">
        <div class="article-summ-date">@article.CreationDate.ToString("dddd, dd MMMM yyyy hh:ss")</div>
        <div class="article-summ-categories">
            <span>Категории:</span>
            @for (int i = 0; i < article.Categories.Count(); i++)
            {
                var categories = article.Categories;
                if (i != article.Categories.Count() - 1)
                {
                    @Html.ActionLink(
                        categories[i].Name + ", ", "All", "Articles",
                        new { category = categories[i].Name },
                        new { @class = Model.Item2.Category == categories[i].Name ? "selected" : "" }
                    )
                }
                else
                {
                    @Html.ActionLink(
                        categories[i].Name, "All", "Articles",
                        new { category = categories[i].Name },
                        new { @class = Model.Item2.Category == categories[i].Name ? "selected" : "" }
                    )
                }
            }
        </div>
    </div>
    <p class="article-summ-body">@Html.Raw(article.Body)</p>
</div>
