@model ArticleDetailsViewModel

@{
    ViewBag.Title = Model.Article.Title;
}

<div class="container article">
    <div class="article-header">
        <a class="fa fa-angle-left pull-left mt-2" href="@Model.ReturnUri"></a>
        <div class="article-title">@Model.Article.Title</div>
        <div class="article-date">@Model.Article.CreationDate.ToString("dddd, dd MMMM yyyy hh:ss")</div>
        <div class="article-categories">
            <span>Категории:</span>
            @for (int i = 0; i < Model.Article.Categories.Count(); i++)
            {
                if (i != Model.Article.Categories.Count() - 1)
                {
                    @Html.ActionLink(
                        Model.Article.Categories[i].Name + ", ", "All", "Articles",
                        new { category = Model.Article.Categories[i].Name },
                        null
                    )
                }
                else
                {
                    @Html.ActionLink(
                        Model.Article.Categories[i].Name, "All", "Articles",
                        new { category = Model.Article.Categories[i].Name },
                        null
                    )
                }
            }
        </div>
    </div>
    <p class="article-body">@Model.Article.Body</p>
</div>
